.slider {
  .normal {
    .carousel-item {
      max-height: 45rem;
    }
  }

  .small {
    .carousel-item {
      max-height: 25rem;
    }
  }

  .carousel-item {
    img.img-fluid {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .carousel-caption {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 0px;
    margin: 0px;

    .carousel-caption-panel {
      background: rgba(0, 0, 0, 0.3);
      min-width: 40%;
      padding: 20px;
      text-align: center;
      color: #fff;

      h2 {
        text-transform: uppercase;
        font-size: 2rem;
        margin-bottom: 0px;

        i {
          text-transform: none;
        }
      }

      .carousel-caption-btn {
        display: inline-block;
        margin-top: 1rem;
        padding: 11px 33px 9px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.7rem;
      }
    }
  }
}

@media(min-width:992px) {
  .slider {
    .normal {
      .carousel-item {
        height: 35rem;
      }
    }

    .small {
      .carousel-item {
        max-height: 15rem;
      }
    }
  }
}
