// Global styling for this template
body {
  overflow-x: hidden;
  @include body-font;
}

p {
  line-height: 1.75;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  @include heading-font;
}

section {
  padding: 100px 0;
  h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    font-style: normal;
  }
  h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    @include serif-font;
  }
}


// Button Styles
.btn {
  @include heading-font;
  font-weight: 700;
  cursor: pointer;
  white-space: initial;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
  max-width: 80%;
}

.btn-primary {
  transition: all 0.2s;
  color: #fff;
  &:active,
  &:focus,
  &:hover {
    color: white;
  }
}

// Highlight color customization
::-moz-selection {
  text-shadow: none;
}

::selection {
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}
