.block-text {
  padding-top: 2rem;
  padding-bottom: 2.5rem;
  
  * {
    font-style: normal;
  }
  
  h1, h2 {
    text-align: center;
    &:after {
      content: '';
      display: block;
      clear: both;
      border-top: 1px solid #ccc;
      width: 2rem;
      margin: 27px auto 0;
    }
  }

  p {
    margin-left: 10%;
    margin-right: 10%;
  }
}